#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

ol > li {
  list-style-position: inside;
  list-style-type: decimal;
}

ul > li {
  list-style-type: disc;
  list-style-position: inside;
}
